<div class="pb-5">
  <div class="d-flex justify-content-between">
    <div class="p-2">
      <h5 routerLink="/" class="btn btn-dark">Home page</h5>
    </div>
    <div class="p-2">
      <div>
        <label for="search"></label>
        <input
          [formControl]="searchControl"
          placeholder="Search show..."
          id="search"
          type="search"
        />
        <button type="button" class="btn btn-dark">Search</button>
      </div>

      <div class="card search">
        <a
          class="link-dark link-underline link-underline-opacity-0"
          *ngFor="let show of shows$ | async"
          [routerLink]="['/shows', show.id]"
        >
          {{ show.name }}
        </a>
      </div>
    </div>
  </div>
</div>
